<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="js/vue.js"></script>
	</head>
	<body>
		<!-- 准备一个容器 -->
		<div id="test">

			<p><input type="text" v-model="username" /></p>
			<p><input type="text" v-model="info.username" /></p>
			<p><input type="text" v-model="info.password" /></p>

		</div>
	</body>
	<script type="text/javascript">
		// 全局过滤器（必须在Vue实例对象前声明）
		Vue.filter('', () => {});

		new Vue({
			// el用于指定当前vue实例为哪个容器服务（值通常为css选择器）
			el: "#test",
			// data对象用来定义数据模型，数据提供给el指定的容器使用
			data: {
				username: "小明",
				info: {
					username: "小张",
					password: 123456
				}
			},
			// methods用于定义事件的处理函数
			methods: {

			},
			// filters用于定义过滤器函数（私有过滤器）
			filters: {

			},
			// watch用于定义监听器函数
			watch: {
				// 侦听器本质是一个函数，监听指定数据，变化则触发（数据名作为方法名）
				username(newVal, oldVal) {
					alert("监听到了变化：" + oldVal + "=>" + newVal);
				},
				// 方法格式的侦听器监听对象类型的数据，对象中的属性变化不会触发侦听器
				info(newVal, oldVal) {
					alert("监听到了变化：" + oldVal + "=>" + newVal);
				},
				// 方法格式的侦听器可以监听对象类型的单个子属性数据变化
				'info.password'(newVal, oldVal) {
					alert("监听到了变化：" + oldVal + "=>" + newVal);
				},
			},
		});
	</script>
</html>
