<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="js/vue.js"></script>
	</head>
	<body>
		<!-- 准备一个容器 -->
		<div id="test">
			<select v-model="type">
				<option value="">请选择</option>
				<option value="1">v-if</option>
				<option value="2">v-else-if</option>
				<option value="3">v-else</option>
			</select>

			<p v-if="type === '1'">被 v-if 控制的元素</p>
			<p v-else-if="type === '2'">被 v-else-if 控制的元素</p>
			<p v-else="type === '3'">被 v-else 控制的元素</p>
		</div>
	</body>
	<script type="text/javascript">
		new Vue({
			// el用于指定当前vue实例为哪个容器服务（值通常为css选择器）
			el: "#test",
			// data对象用来定义数据模型，数据提供给el指定的容器使用
			data: {
				type: ""
			},
			// methods用于定义事件的处理函数
			methods: {

			}
		});
	</script>
</html>
